<div class="comment-display">
    <div class="comment-display__inline-details" v-if="displayThread == true || displayThread == false && comment.hasParentAuthor()">
        <span v-if="displayThread" :title="comment.getThreadName()"><span class="meerkat__inline-callout"><strong>{{ trans('display.thread_multiple_response') }}</strong></span> {{ comment.getThreadName() | meerkatTruncate(25) }}</span>
        <reply-author v-if="comment.hasParentAuthor()" :author="comment.getParentAuthor()"
                      :avatar-driver="avatarDriver"></reply-author>
    </div>

    <div class="comment-display__content" v-html="parseMarkdown(comment.content)"></div>

    <comment-actions ref="actions" :comment="comment" :permissions="permissions" v-show="actionsDisabled === false && comment.isSelected === false && comment.state.isReplying === false"
                     v-on:action-approve="$emit('action-approve', comment)"
                     v-on:action-unapprove="$emit('action-unapprove', comment)"
                     v-on:action-reply="$emit('action-reply', comment)"
                     v-on:action-edit="$emit('action-edit', comment)"
                     v-on:action-ham="$emit('action-ham', comment)"
                     v-on:action-spam="$emit('action-spam', comment)"
                     v-on:action-remove="$emit('action-remove', comment)"></comment-actions>
</div>
