<div>
  <div class="flex items-center justify-between mb-3">
    <h1 class="flex-1">{{ trans('display.header_configure') }}</h1>

    <loader v-if="state.loading" :display-inline="true" class="mr-1"></loader>
    <button class="btn btn-primary flex items-center" v-on:click="saveSettings">{{ trans('config.save') }}</button>
  </div>

  <div class="flex relative mb-3 p-4" style="background-color: #ffffe9" v-if="state.loading === false && state.serverDiffers">
    <div class="w-full">
      <h3 class="mb-2">{{ trans('config.server_changes_warning_title') }}</h3>
      <p>{{ trans('config.server_changes_warning_message') }} <a v-on:click="reloadSettings()"><strong>{{ trans('config.server_changes_warning_reload_prompt') }}</strong></a></p>
    </div>
  </div>

  <div class="flex relative">

    <div class="w-full">
      <div class="publish-tabs tabs">
        <a :class="{'active': activePage == 'publishing'}" v-on:click="activePage = 'publishing'">{{ trans('config.tab_general') }}</a>
        <a :class="{'active': activePage == 'guard'}" v-on:click="activePage = 'guard'" v-if="canChangeConfig === true">{{ trans('config.tab_spam') }}</a>
        <a :class="{'active': activePage == 'ip-filter'}" v-on:click="activePage = 'ip-filter'" v-if="ipFilterEnabled === true && canChangeConfig === true" >{{ trans('config.tab_ip_address_filter') }}</a>
        <a :class="{'active': activePage == 'word-filter'}" v-on:click="activePage = 'word-filter'" v-if="wordFilterEnabled === true && canChangeConfig === true">{{ trans('config.tab_word_filter') }}</a>
        <a :class="{'active': activePage == 'permissions'}" v-on:click="activePage = 'permissions'" v-if="canChangeConfig === true">{{ trans('config.tab_permissions') }}</a>
        <a :class="{'active': activePage == 'email'}" v-on:click="activePage = 'email'" v-if="canChangeConfig === true">{{ trans('config.tab_email') }}</a>
        <a :class="{'active': activePage == 'privacy'}" v-on:click="activePage = 'privacy'" v-if="canChangeConfig === true">{{ trans('config.tab_privacy') }}</a>

      </div>

      <div class="flex justify-between">
        <div class="publish-section rounded-tl-none">
          <component :is="activePage" :settings="settings"></component>
        </div>
      </div>
    </div>
  </div>

  <p class="mt-3 text-sm text-gray-500">{{ trans('config.managed_notice') }}</p>
</div>
