<div class="w-full">

  <div class="form-group publish-field section-fieldtype field-w-full">
    <div class="field-inner">
      <label class="publish-field-label"><span>{{ trans('config.permissions_title') }}</span></label>
      <div class="help-block -met-1">
        <p>{{ trans('config.permissions_desc') }}</p>
      </div>
    </div>
  </div>

  <div class="publish-fields w-full" v-if="settings != null">
    <div class="form-group w-full">
      <table class="table data-table">
        <thead>
        <tr>
          <th>{{ trans('config.table_user_group') }}</th>
          <th>{{ trans('config.table_all') }}</th>
          <th>{{ trans('config.table_view_comments') }}</th>
          <th>{{ trans('config.table_approve') }}</th>
          <th>{{ trans('config.table_unapprove') }}</th>
          <th>{{ trans('config.table_edit') }}</th>
          <th>{{ trans('config.table_reply') }}</th>
          <th>{{ trans('config.table_report_ham') }}</th>
          <th>{{ trans('config.table_report_spam') }}</th>
          <th>{{ trans('config.table_delete') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(perm, i) in settings.permissions">
          <td>{{ perm.name }}</td>
          <td>
            <toggle-fieldtype v-model="settings.permissions[i].permissions.hasAllPermissions" :read-only="settings.items['permissions.all_permissions'].behavior === 0" @input="checkPermissions(settings.permissions[i])"></toggle-fieldtype>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.permissions[i].permissions.canViewComments" :read-only="settings.items['permissions.can_view_comments'].behavior === 0"></toggle-fieldtype>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.permissions[i].permissions.canApproveComments" :read-only="settings.items['permissions.can_approve_comments'].behavior === 0"></toggle-fieldtype>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.permissions[i].permissions.canUnApproveComments" :read-only="settings.items['permissions.can_unapprove_comments'].behavior === 0"></toggle-fieldtype>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.permissions[i].permissions.canEditComments" :read-only="settings.items['permissions.can_edit_comments'].behavior === 0"></toggle-fieldtype>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.permissions[i].permissions.canReplyToComments" :read-only="settings.items['permissions.can_reply_to_comments'].behavior === 0"></toggle-fieldtype>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.permissions[i].permissions.canReportAsHam" :read-only="settings.items['permissions.can_report_as_ham'].behavior === 0"></toggle-fieldtype>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.permissions[i].permissions.canReportAsSpam" :read-only="settings.items['permissions.can_report_as_spam'].behavior === 0"></toggle-fieldtype>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.permissions[i].permissions.canRemoveComments" :read-only="settings.items['permissions.can_remove_comments'].behavior === 0"></toggle-fieldtype>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
