<div class="w-full">
  <div class="publish-fields w-full" v-if="settings != null">
    <div class="p-4 w-full bg-grey-20  meerkat__config-section">
      <h3>{{ trans('config.spam_general_title') }}</h3>
      <p class="mt-1">{{ trans('config.spam_general_desc') }}</p>
    </div>

    <div class="form-group publish-field toggle-fieldtype field-w-1/2">
      <div class="field-inner">
        <label for="field_auto_check_spam"><span>{{ trans('config.auto_check_spam') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.auto_check_spam_desc') }}</p>
        </div>
      </div>
      <toggle-fieldtype v-model="settings.items['publishing.auto_check_spam'].value" :config="{'handle':'auto_check_spam'}"
                        :read-only="settings.items['publishing.auto_check_spam'].behavior === 0"></toggle-fieldtype>
    </div>

    <div class="form-group publish-field toggle-fieldtype field-w-1/2">
      <div class="field-inner">
        <label for="field_auto_delete_spam"><span>{{ trans('config.auto_delete_spam') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.auto_delete_spam_desc') }}</p>
        </div>
      </div>
      <toggle-fieldtype v-model="settings.items['publishing.auto_delete_spam'].value" name="auto_delete_spam" :config="{'handle':'auto_delete_spam'}"
                        :read-only="settings.items['publishing.auto_delete_spam'].behavior === 0"></toggle-fieldtype>
    </div>

    <div class="form-group publish-field toggle-fieldtype field-w-1/3">
      <div class="field-inner">
        <label for="field_guard_check_all_providers"><span>{{ trans('config.check_all_spam_guards') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.check_all_spam_guards_desc') }}</p>
        </div>
      </div>
      <toggle-fieldtype v-model="settings.items['publishing.guard_check_all_providers'].value" name="guard_check_all_providers" :config="{'handle':'guard_check_all_providers'}"
                        :read-only="settings.items['publishing.guard_check_all_providers'].behavior === 0"></toggle-fieldtype>
    </div>

    <div class="form-group publish-field toggle-fieldtype field-w-1/3">
      <div class="field-inner">
        <label for="field_guard_unpublish_on_guard_failure"><span>{{ trans('config.unpublish_on_guard_failures') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.unpublish_on_guard_failures_desc') }}</p>
        </div>
      </div>
      <toggle-fieldtype v-model="settings.items['publishing.guard_unpublish_on_guard_failure'].value" name="guard_unpublish_on_guard_failure" :config="{'handle':'guard_unpublish_on_guard_failure'}"
                        :read-only="settings.items['publishing.guard_unpublish_on_guard_failure'].behavior === 0"></toggle-fieldtype>
    </div>

    <div class="form-group publish-field toggle-fieldtype field-w-1/3">
      <div class="field-inner">
        <label for="field_auto_submit_results"><span>{{ trans('config.submit_moderator_results') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.submit_moderator_results_desc') }}</p>
        </div>
      </div>
      <toggle-fieldtype v-model="settings.items['publishing.auto_submit_results'].value" name="auto_submit_results" :config="{'handle':'auto_submit_results'}"
                        :read-only="settings.items['publishing.auto_submit_results'].behavior === 0"></toggle-fieldtype>
    </div>


    <div class="p-4 w-full bg-grey-20  meerkat__config-section">
      <h3>{{ trans('config.spam_guards_title') }}</h3>
      <p class="mt-1">{{ trans('config.spam_guards_desc') }}</p>
    </div>

    <div class="form-group w-full pt-0">
      <table class="table data-table">
        <thead>
        <tr>
          <th>{{ trans('config.table_spam_guard') }}</th>
          <th>{{ trans('config.table_enabled') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(guard, i) in settings.guards">
          <td>{{ guard.name }}</td>
          <td>
            <toggle-fieldtype v-model="settings.guards[i].enabled" :name="'guard_toggle' + i" :config="{'handle':'guard_toggle' + i}"
                              :read-only="settings.items['publishing.guards'].behavior === 0"
                              @input="guardUpdated"></toggle-fieldtype>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="p-4 w-full bg-grey-20  meerkat__config-section" v-if="$parent.akismetFilterEnabled === true">
      <h3>{{ trans('config.akismet_title') }}</h3>
      <p class="mt-1">{{ trans('config.akismet_desc') }} <a href="https://akismet.com/" target="_blank">{{ trans('config.akismet_link_text') }}</a> </p>
    </div>

    <div class="form-group publish-field text-fieldtype field-w-1/2" v-if="$parent.akismetFilterEnabled === true">
      <div class="field-inner">
        <label for="field_akismet_api_key"><span>{{ trans('config.akismet_api_key') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.akismet_api_key_desc') }}</p>
        </div>
      </div>
      <text-fieldtype id="akismet_api_key" v-model="settings.items['akismet.api_key'].value" :read-only="settings.items['akismet.api_key'].behavior === 0" :config="{'handle':'akismet_api_key'}"></text-fieldtype>
    </div>

    <div class="form-group publish-field text-fieldtype field-w-1/2" v-if="$parent.akismetFilterEnabled === true">
      <div class="field-inner">
        <label for="field_akismet_front_page"><span>{{ trans('config.akismet_front_page') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.akismet_front_page_desc') }}</p>
        </div>
      </div>
      <text-fieldtype name="akismet_front_page" v-model="settings.items['akismet.front_page'].value" :read-only="settings.items['akismet.front_page'].behavior === 0" :config="{'handle':'akismet_front_page'}"></text-fieldtype>
    </div>

    <div class="field-w-full p-4"  v-if="hasAkismetSettings && $parent.akismetFilterEnabled === true">
      <p><button class="btn btn-primary" v-on:click="validateConfiguration" v-if="state.isValidating === false">{{ trans('config.validate_akismet_prompt') }}</button> <span style="position: relative; display: inline-block"><loader v-if="state.isValidating" :display-inline="true" class="mr-1"></loader> {{ state.currentMessage }}</span></p>
    </div>
  </div>

</div>
