<modal name="meerkat-confirmation-modal" :pivotY="0.1" :overflow="false">
    <div class="meerkat__stateful-confirmation-modal confirmation-modal flex flex-col h-full" :id="modalId">
        <div class="text-lg font-medium p-2 pb-0">
            {{ titleMessage }}
        </div>
        <div class="flex-1 px-2 py-3 text-grey">
            <div v-if="actionState.doesNotHavePrivileges === true">
                <p>{{ actionState.unauthorizedMessage }}</p>
                <p v-if="actionState.missingPermission !== null" style="margin-top:10px;"><strong>EC-{{ actionState.missingPermission }}</strong>: {{ transErrorCode(actionState.missingPermission) }}</p>
            </div>

            <component v-if="actionState.hasInteraction" :is="actionState.interactionComponent" v-bind="getInteractionProperties()"></component>

            <div v-if="actionState.isErrorState === false && actionState.doesNotHavePrivileges === false">
                <p v-if="actionState.hasInteraction === false && actionState.isProcessing === false">{{ actionState.message }}</p>
                <p v-if="actionState.isProcessing === true && actionState.promptAbandon === false">
                    <meerkat-loader :display-inline="true" :color="progressColor"></meerkat-loader>
                    {{ progressMessage }}
                </p>

                <p v-if="actionState.promptAbandon === true" class="meerkat__modal-prompt">
                    <span><meerkat-loader :display-inline="true" :color="progressColor"></meerkat-loader>{{ trans('errors.process_long_process') }}</span><br><br>
                    <span>{{ actionState.abandonMessage }}</span>
                </p>
            </div>

            <div v-if="actionState.isErrorState === true">
                <div v-if="actionState.numberOfErrorsEncountered <= this.actionState.failedRequestCutoff">
                    <p v-if="actionState.wasClientError === false">{{ errorMessage }}</p>

                    <div v-if="actionState.wasClientError === true">
                        <p>{{ this.actionState.clientErrorMessage }}</p>

                        <textarea class="meerkat__stack-trace" v-if="this.actionState.lastClientError !== null"
                                  readonly>{{ this.actionState.lastClientError.getMessage() }}</textarea>
                    </div>
                </div>
                <div v-else>
                    <p>{{ this.actionState.repeatedFailureMessage }}</p>

                    <p v-if="actionState.isLoadingLog">
                        <meerkat-loader :display-inline="true"></meerkat-loader>{{ trans('errors.loading_error_log') }}
                    </p>
                    <p v-if="actionState.isLoadingLog === false && actionState.serverErrorReport === null">{{ trans('errors.no_error_details') }}</p>

                    <div v-if="actionState.isLoadingLog === false && actionState.serverErrorReport !== null">
                        <p style="margin-top:10px;"><strong>{{ trans('errors.submit_error_report_request') }}</strong></p>
                        <textarea class="meerkat__stack-trace" readonly>{{ this.actionState.serverErrorReport.report }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 bg-grey-20 border-t flex items-center justify-end text-sm"
             v-if="actionState.isErrorState === true && actionState.doesNotHavePrivileges === false">
            <button class="text-grey hover:text-grey-90" @click="actionState._abandon()">{{ actionState.cancelText }}</button>
            <button class="ml-2" :class="buttonClass" @click="actionState._tryAgain()" v-if="actionState.isLoadingLog === false && actionState.serverErrorReport === null">{{ actionState.tryAgain }}</button>
            <button class="ml-2" :class="buttonClass" @click="actionState._submitAndTryAgain()" v-if="actionState.isLoadingLog === false && actionState.serverErrorReport !== null">{{ trans('actions.submit_error_try_again') }}</button>
        </div>

        <div class="p-2 bg-grey-20 border-t flex items-center justify-end text-sm"
             v-if="actionState.isErrorState === false && actionState.isProcessing === false && actionState.doesNotHavePrivileges === false">
            <button class="text-grey hover:text-grey-90" @click="actionState._cancel()">{{ actionState.cancelText }}</button>
            <button class="ml-2" :class="buttonClass" @click="actionState._confirm()">{{ actionState.confirmText }}</button>
        </div>

        <div class="p-2 bg-grey-20 border-t flex items-center justify-end text-sm"
             v-if="actionState.isErrorState === false && actionState.promptAbandon === true && actionState.doesNotHavePrivileges === false">
            <button class="text-grey hover:text-grey-90" @click="actionState._abandon()">{{ actionState.cancelText }}</button>
            <button class="ml-2" :class="buttonClass" @click="actionState._tryAgain()">{{ actionState.tryAgain }}</button>
        </div>

        <div class="p-2 bg-grey-20 border-t flex items-center justify-end text-sm"
             v-if="actionState.doesNotHavePrivileges === true">
            <button class="btn-primary" @click="actionState._cancel()">{{ trans('actions.ok') }}</button>
        </div>
    </div>
</modal>