<div>
    <meerkat-stateful-confirm-dialog
      name="commentReplyActionConfirm" v-if="currentAction !== null && currentAction.display === true"
      :action-state="currentAction" v-on:cancel="checkForDismiss"></meerkat-stateful-confirm-dialog>

    <div class="meerkat__temp-markdown-reply-editor--wrapper">
        <markdown-fieldtype ref="markdownEditor" handle="comment_reply" v-model="comment.state.reply.content"></markdown-fieldtype>
    </div>

    <div class="p-2 bg-grey-20 border-t flex items-center text-sm">
        <button class="btn-primary mr-2" v-on:click="$emit('reply-requested', comment)">{{
            trans('actions.reply_confirm_button') }}
        </button>
        <button class="text-grey hover:text=grey-90"
                v-on:click="cancel()">{{ trans('actions.cancel') }}
        </button>
    </div>
</div>
