<div class="w-full publish-fields" v-if="settings != null">
  <div class="form-group publish-field section-fieldtype w-full">
    <div class="field-inner">
      <label class="publish-field-label"><span>{{ trans('config.email_general_title') }}</span></label>
      <div class="help-block -mt-1">
        <p>{{ trans('config.email_general_desc') }}</p>
      </div>
    </div>
  </div>

  <div class="form-group publish-field toggle-fieldtype field-w-1/2" v-if="typeof settings.items['email.send_mail'] !== 'undefined'">
    <div class="field-inner">
      <label for="field_send_mail"><span>{{ trans('config.email_send_mail') }}</span></label>
      <div class="help-block -mt-1">
        <p>{{ trans('config.email_send_mail_desc') }}</p>
      </div>
    </div>
    <toggle-fieldtype v-model="settings.items['email.send_mail'].value" handle="send_mail" :config="{'handle':'send_mail'}"
                      :read-only="settings.items['email.send_mail'].behavior === 0"></toggle-fieldtype>
  </div>

  <div class="form-group publish-field toggle-fieldtype field-w-1/2" v-if="typeof settings.items['email.check_with_spam_guard'] !== 'undefined'">
    <div class="field-inner">
      <label for="field_check_with_spam_guard"><span>{{ trans('config.email_check_spam_guard') }}</span></label>
      <div class="help-block">
        <p>{{ trans('config.email_check_spam_guard_desc') }}</p>
      </div>
    </div>
    <toggle-fieldtype v-model="settings.items['email.check_with_spam_guard'].value" name="auto_delete_spam" handle="check_with_spam_guard" :config="{'handle':'check_with_spam_guard'}"
                      :read-only="settings.items['email.check_with_spam_guard'].behavior === 0"></toggle-fieldtype>
  </div>

  <div class="form-group publish-field list-fieldtype w-full" v-if="typeof settings.items['email.addresses'] !== 'undefined'">
    <div class="field-inner">
      <label><span>{{ trans('config.email_addresses') }}</span></label>
      <div class="help-block -mt-1">
        <p>{{ trans('config.email_addresses_desc') }} <span v-if="settings.items['email.addresses'].defaults != null && settings.items['email.addresses'].defaults.length > 0">{{ trans('config.email_addresses_notice') }} <a class="cursor" v-on:click="showDefaults = true" v-if="showDefaults === false">{{ trans('config.email_addresses_view_defaults') }}</a></span></p>
      </div>
    </div>
    <list-fieldtype v-model="settings.items['email.addresses'].value" handle="email_list"
                    :read-only="settings.items['email.addresses'].behavior === 0"></list-fieldtype>
  </div>

  <pane name="meerkat-email-filter" v-if="showDefaults" @closed="showDefaults = false">
    <div class="flex w-full pt-6">
      <div class="flex w-full justify-between items-center">
        <div class="flex-shrink flex items-center">
          <h3 class="pl-2">{{ trans('config.email_addresses_default_title') }}</h3>

        </div>
        <div class="flex flex-shrink-0 items-center mr-2">
          <a class="block h-6 w-6" v-on:click="showDefaults = false">
            <svg style="width:12px;" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="#000000" fill-rule="evenodd">
                <g id="icon-shape">
                  <polygon id="Combined-Shape" points="10 8.58578644 2.92893219 1.51471863 1.51471863 2.92893219 8.58578644 10 1.51471863 17.0710678 2.92893219 18.4852814 10 11.4142136 17.0710678 18.4852814 18.4852814 17.0710678 11.4142136 10 18.4852814 2.92893219 17.0710678 1.51471863 10 8.58578644"></polygon>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="w-full">
      <p class="p-2">{{ trans('config.email_addresses_default_desc') }}</p>

      <ul class="pl-2 pt-3 pb-3 border-t border-b" v-if="$parent.settings != null" style="max-height: calc(60vh);overflow-y:auto">
        <li v-for="(address, i) in $parent.settings.items['email.addresses'].defaults">{{ address }}</li>
      </ul>
    </div>
  </pane>

</div>
