<div class="w-full">
  <div class="form-group publish-field section-fieldtype w-full">
    <div class="field-inner">
      <label class="publish-field-label"><span>{{ trans('config.privacy_title') }}</span></label>
      <div class="help-block">
        <p>{{ trans('config.privacy_desc') }}</p>
      </div>
    </div>
  </div>
  <div class="form-group w-full pt-0">
    <table class="table data-table">
      <thead>
      <tr>
        <th>{{ trans('config.privacy_table_data') }}</th>
        <th>{{ trans('config.privacy_table_enabled') }}</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="field_store_user_agent">{{ trans('config.privacy_store_user_agent_title') }}</label>
            <span>{{ trans('config.privacy_store_user_agent_desc') }}</span>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.items['privacy.store_user_agent'].value" name="store_user_agent" handle="store_user_agent" :config="{'handle':'store_user_agent'}" v-if="typeof settings.items['privacy.store_user_agent'] !== 'undefined'"
                              :read-only="settings.items['privacy.store_user_agent'].behavior === 0"></toggle-fieldtype>
          </td>
        </tr>
        <tr>
          <td>
            <label for="field_store_user_ip">{{ trans('config.privacy_store_user_ip_title') }}</label>
            <span>{{ trans('config.privacy_store_user_ip_desc') }}</span>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.items['privacy.store_user_ip'].value" name="store_user_ip" handle="store_user_ip" :config="{'handle':'store_user_ip'}" v-if="typeof settings.items['privacy.store_user_ip'] !== 'undefined'"
                              :read-only="settings.items['privacy.store_user_ip'].behavior === 0"></toggle-fieldtype>
          </td>
        </tr>
        <tr>
          <td>
            <label for="field_store_referrer">{{ trans('config.privacy_store_referrer_title') }}</label>
            <span>{{ trans('config.privacy_store_referrer_desc') }}</span>
          </td>
          <td>
            <toggle-fieldtype v-model="settings.items['privacy.store_referrer'].value" name="store_referrer" handle="store_referrer" :config="{'handle':'store_referrer'}" v-if="typeof settings.items['privacy.store_referrer'] !== 'undefined'"
                              :read-only="settings.items['privacy.store_referrer'].behavior === 0"></toggle-fieldtype>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
