<div class="w-full">
  <div class="form-group publish-field section-fieldtype field-w-full">
    <div class="field-inner">
      <label class="publish-field-label"><span>{{ trans('config.preferences_title') }}</span></label>
      <div class="help-block">
        <p>{{ trans('config.preferences_desc') }}</p>
      </div>
    </div>
  </div>

  <div class="publish-fields w-full" v-if="settings != null">
    <div class="form-group publish-field toggle-fieldtype field-w-1/2">
      <div class="field-inner">
        <label for="field_avatar_driver"><span>{{ trans('config.avatar') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.avatar_desc') }}</p>
        </div>
      </div>

      <div class="select-input-container">
        <select class="select-input" v-model="$parent.userPreferences.avatarDriver" :config="{'handle':'avatar_driver'}" name="avatar_driver">
          <option value="" disabled="disabled">{{ trans('display.per_page') }}</option>
          <option v-for="option in $parent.avatarOptions" v-bind:value="option.value">{{ option.driverName }}</option>
        </select>
        <div class="select-input-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </div>
      </div>
    </div>

    <div class="form-group publish-field toggle-fieldtype field-w-1/2">
      <div class="field-inner">
        <label for="field_publish_per_page"><span>{{ trans('config.per_page') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.per_page_desc') }}</p>
        </div>
      </div>

      <div class="select-input-container">
        <select name="publish_perPage" :config="{'handle':'publish_per_page'}" class="select-input" v-model="$parent.userPreferences.perPage">
          <option value="" disabled="disabled">{{ trans('display.per_page') }}</option>
          <option v-for="option in $parent.perPageOptions" v-bind:value="option">{{ option }}</option>
        </select>
        <div class="select-input-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group publish-field section-fieldtype field-w-full" v-if="$parent.canChangeConfig">
    <div class="field-inner">
      <label class="publish-field-label"><span>{{ trans('config.publishing_title') }}</span></label>
      <div class="help-block">
        <p>{{ trans('config.publishing_desc') }}</p>
      </div>
    </div>
  </div>

  <div class="publish-fields w-full" v-if="settings != null && $parent.canChangeConfig">
    <div class="form-group publish-field toggle-fieldtype field-w-1/2">
      <div class="field-inner">
        <label for="field_auto_publish"><span>{{ trans('config.publish_auto') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.publish_auto_desc') }}</p>
        </div>
      </div>
      <toggle-fieldtype v-model="settings.items['publishing.auto_publish'].value" name="auto_publish" :config="{'handle':'auto_publish'}"
                        :read-only="settings.items['publishing.auto_publish'].behavior === 0"></toggle-fieldtype>
    </div>

    <div class="form-group publish-field toggle-fieldtype field-w-1/2">
      <div class="field-inner">
        <label for="field_auto_publish_authenticated_users"><span>{{ trans('config.publish_user_auto') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.publish_user_auto_desc') }}</p>
        </div>
      </div>
      <toggle-fieldtype v-model="settings.items['publishing.auto_publish_authenticated_users'].value" name="auto_publish_authenticated_users" :config="{'handle':'auto_publish_authenticated_users'}"
                        :read-only="settings.items['publishing.auto_publish_authenticated_users'].behavior === 0"></toggle-fieldtype>
    </div>

    <div class="form-group publish-field toggle-fieldtype field-w-1/2">
      <div class="field-inner">
        <label for="field_automatically_close_comments"><span>{{ trans('config.close_threads') }}</span></label>
        <div class="help-block -mt-1">
          <p>{{ trans('config.close_threads_desc') }}</p>
        </div>
      </div>
      <integer-fieldtype v-model="settings.items['publishing.automatically_close_comments'].value" name="automatically_close_comments" :config="{'handle':'automatically_close_comments'}"
                         :read-only="settings.items['publishing.automatically_close_comments'].behavior === 0"></integer-fieldtype>
    </div>
  </div>

</div>
