<div v-on:click="updateManager()" style="display: inline">

    <slot></slot>

    <svg :class="{'asc': manager.columns[column] === 1, 'desc': manager.columns[column] === -1}"
         height="8" width="8" viewBox="0 0 10 6.5" v-if="manager.columns[column] != 0" style="opacity: 1">
        <path d="M9.9,1.4L5,6.4L0,1.4L1.4,0L5,3.5L8.5,0L9.9,1.4z" fill="currentColor"/>
    </svg>

    <span v-if="manager.columns[column] != 0" class="meerkat__sort-indicator-badge"><strong>{{ manager.orders[column] }}</strong></span>
</div>