<div>
    <meerkat-stateful-confirm-dialog
            name="tableMeerkatActionConfirm" v-if="currentAction !== null && currentAction.display === true"
            :action-state="currentAction" v-on:cancel="checkForDismiss"></meerkat-stateful-confirm-dialog>

    <div class="card p-0 relative">
        <table-filters ref="tableFilters" :active-filter-id="activeFilterId" v-on:filter-changed="onFilterChange" v-on:search-updated="onSearchUpdated"></table-filters>

        <div class="data-table-header">

            <table class="meerkat__data-table data-table" v-bind:class="tableClasses" v-show="hasData === true">
                <thead>
                <tr v-if="hasCommentResponse && canUseBulkActions && hasSelection === true">
                    <th colspan="2">
                        <label class="text-gray-500 font-bold inline cursor-pointer" :title="singleSelectTranslation">
                            <input class="mr-2 leading-tight cursor-pointer meerkat__checkbox meerkat__header-checkbox" type="checkbox"
                                   :title="trans('actions.select_all_comments')"
                                   v-model="comments.comments.allSelected"
                                   v-on:click="comments.comments.toggleSelections()">
                        </label>

                        <div class="meerkat__bulk-actions">
                            <div class="select-input-container">
                                <select class="select-input" v-model="currentBulkAction">
                                    <option v-if="permissions.canApproveComments === true" value="approve">{{
                                        trans('actions.bulk_list_approve') }}
                                    </option>
                                    <option v-if="permissions.canUnApproveComments === true" value="unapprove">{{
                                        trans('actions.bulk_list_unapprove') }}
                                    </option>
                                    <option v-if="permissions.canRemoveComments === true" value="delete">{{
                                        trans('actions.bulk_list_delete') }}
                                    </option>
                                    <option v-if="permissions.canReportAsSpam === true" value="mark-spam">{{
                                        trans('actions.bulk_list_spam') }}
                                    </option>
                                    <option v-if="permissions.canReportAsHam === true" value="mark-ham">{{
                                        trans('actions.bulk_list_ham') }}
                                    </option>
                                </select>

                                <div class="select-input-toggle">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                                    </svg>
                                </div>
                            </div>

                            <button class="btn-primary mr-2" v-on:click="performBulkAction(currentBulkAction)">{{
                                trans('actions.bulk_perform_action') }}
                            </button>
                            <button class="text-grey hover:text-grey-90" v-on:click="cancelBulkActions">{{
                                trans('actions.cancel') }}
                            </button>
                        </div>
                    </th>
                </tr>
                <tr class="meerkat__comment-header-row">
                    <th class="comment-table__author-column sortable-column" v-on:click="updateSortFromHeader('id')">
                        <label class="text-gray-500 font-bold inline cursor-pointer" :title="singleSelectTranslation"
                               v-if="hasCommentResponse && canUseBulkActions && hasSelection === false"
                               v-on:click.stop>
                            <input class="mr-2 leading-tight cursor-pointer meerkat__checkbox  meerkat__header-checkbox" type="checkbox"
                                   :title="trans('actions.select_all_comments')"
                                   v-model="comments.comments.allSelected"
                                   v-on:click.stop="comments.comments.toggleSelections()">
                        </label>
                        <sort-indicator :column="'id'" :manager="sortManager" :respond-to-click="false"
                                        v-on:order-changed="updateStateFromOrder">
                            {{ trans('display.header_author') }}
                        </sort-indicator>
                    </th>
                    <th class="sortable-column" v-on:click="updateSortFromHeader('comment')">
                        <sort-indicator :column="'comment'" :manager="sortManager" style="display: inline-block;padding-top:2px;"
                                        :respond-to-click="false" v-on:order-changed="updateStateFromOrder">
                            {{ trans('display.header_comment') }}
                        </sort-indicator>
                    </th>
                </tr>
                <tr class="meerkat__comment-header-row--responsive w-full">
                  <th colspan="2">
                    <div class="comment-table__author-column sortable-column meerkat__sort-response--primary" v-on:click="updateSortFromHeader('id')">
                      <label class="text-gray-500 font-bold inline cursor-pointer" :title="singleSelectTranslation"
                             v-if="hasCommentResponse && canUseBulkActions && hasSelection === false"
                             v-on:click.stop>
                        <input class="mr-2 leading-tight cursor-pointer meerkat__checkbox  meerkat__header-checkbox" type="checkbox"
                               :title="trans('actions.select_all_comments')"
                               v-model="comments.comments.allSelected"
                               v-on:click.stop="comments.comments.toggleSelections()">
                      </label>
                      <sort-indicator :column="'id'" :manager="sortManager" :respond-to-click="false"
                                      v-on:order-changed="updateStateFromOrder">
                        {{ trans('display.header_author') }}
                      </sort-indicator>
                    </div>
                    <div class="sortable-column meerkat__sort-response--secondary" v-on:click="updateSortFromHeader('comment')">
                      <sort-indicator :column="'comment'" :manager="sortManager" style="display: inline-block;padding-top:2px;"
                                      :respond-to-click="false" v-on:order-changed="updateStateFromOrder">
                        {{ trans('display.header_comment') }}
                      </sort-indicator>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody v-if="hasCommentResponse">
                <tr v-if="comments.threads.length === 1">
                    <td colspan="2">
                        <p :title="comments.threads[0].name"><span class="meerkat__inline-callout"><strong>{{ trans('display.thread_single_response') }}</strong></span> {{ comments.threads[0].name | meerkatTruncate(75) }}</p>
                    </td>
                </tr>
                <tr v-for="(comment, i) in comments.comments" class="meerkat__comment-row"
                    v-bind:class="getCommentClasses(comment)" v-if="comment.isDeleted === false" colspan="2">
                    <td class="author-display__container w-full lg:w-auto lg:table-cell relative lg:static">
                        <label class="text-gray-500 font-bold cursor-pointer meerkat__comment-checkbox-label" :title="singleSelectTranslation"
                               v-if="canUseBulkActions">
                            <input class="mr-2 leading-tight cursor-pointer meerkat__checkbox" type="checkbox"
                                   v-model="comment.isSelected">
                        </label>
                        <author-display :comment="comment" :author="comment.getAuthor()" :avatar-driver="avatarDriver"></author-display>
                    </td>
                    <td class="w-full lg:w-auto lg:table-cell relative lg:static">
                        <comment-display ref="commentDisplay"
                                         v-if="comment.isSelected === true || comment.state.isEditing === false"
                                         :comment="comment" :display-thread="shouldDisplayThread"
                                         :avatar-driver="avatarDriver" :permissions="permissions"
                                         v-on:action-edit="beforeEdit" :actions-disabled="selectedCount > 0"
                                         v-on:action-reply="beforeReply"></comment-display>
                        <comment-editor v-if="selectedCount === 0 && comment.state.isEditing === true"
                                        :comment="comment"
                                        v-on:update-requested="performActionNow('edit', comment)"
                                        v-on:update-canceled="disableFocusMode"></comment-editor>
                        <reply-editor v-if="selectedCount === 0 && comment.state.isReplying === true" :comment="comment"
                                      v-on:reply-requested="performActionNow('reply', comment)"
                                      v-on:reply-canceled="disableFocusMode"></reply-editor>
                    </td>
                </tr>
                </tbody>
            </table>
            <empty-indicator v-if="hasData === false" :total-count="state.totalCount"></empty-indicator>
        </div>
    </div>
</div>
