<div>
    <div class="flex justify-between items-center mb-6">
        <h1 class="flex-1">{{ trans('display.header_comments') }}</h1>

        <loader v-if="state.loadingData" :display-inline="true" class="mr-1"></loader>

        <dropdown-list class="mr-2">
            <button class="button flex items-center pr-4" slot="trigger">{{ trans('actions.export') }} <svg-icon name="micro/chevron-down-xs" class="w-2 ml-2" /></button>
            <dropdown-item :text="trans('actions.export_csv')" :redirect="exportLinks.csv"></dropdown-item>
            <dropdown-item :text="trans('actions.export_json')" :redirect="exportLinks.json"></dropdown-item>
        </dropdown-list>
        <dropdown-list>
            <button class="button btn-primary flex items-center pr-4" slot="trigger">
                {{ trans('actions.spam') }} <svg-icon name="micro/chevron-down-xs" class="w-2 ml-2" />
            </button>
            <dropdown-item :text="trans('actions.check_for_spam')" :disabled="state.isCheckingAllForSpam" v-if="canCheckForSpam" v-on:click="checkForSpam"></dropdown-item>
            <dropdown-item :text="trans('actions.remove_all_spam')" v-if="permissions.canRemoveComments" v-on:click="removeAllSpam"></dropdown-item>
        </dropdown-list>
    </div>

    <div class="flex mb-3 meerkat__status--message" v-if="state.showStatusMessage">
        <p>{{ state.statusMessage }} <a class="cursor__pointer" v-on:click="state.showStatusMessage = false">{{ trans('actions.ok') }}</a> &mdash; <a class="cursor__pointer" v-on:click="reloadStateAnyway()">{{ trans('actions.reload_anyway') }}</a></p>
    </div>

    <div v-if="state.loadingInitial === true" class="card loading">
        <loader :display-text="trans('display.loading')"></loader>
    </div>

    <comment-table ref="commentTable" v-on:table-available="onTableAvailable" v-if="state.loadingInitial === false"
                   :comments="commentData" :active-filter-id="state.activeFilterId"
                   v-on:filter-changed="onFilterChanged" v-on:order-changed="onOrderUpdated" v-on:search-updated="onSearchUpdated"
                   v-on:data-update-requested="onRefreshRequested"
                   :loading="state.loadingData"></comment-table>

    <paginator v-if="commentData !== null" :per-page="state.initialPerPage" :page-data="commentData.pages"
               v-on:page-updated="updateQueryWithPage" v-on:per-page-updated="updateQueryWithPerPage">
    </paginator>
</div>
