<div>
    <div class="border-b px-2 text-sm">
        <button class="meerkat__filter-toggle" v-bind:class="{ 'meerkat__filter-toggle--open': state.isOpen }" v-on:click="toggle"
            :title="trans('filters.toggle')">
            <span class="filter__icon">
                <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="icon-shape">
                        <path d="M12,12 L20,4 L20,0 L0,0 L0,4 L8,12 L8,20 L12,16 L12,12 Z" id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
            </span>
        </button>

        <button class="data-list-filter-link" v-for="(filter, i) in filters"
                :class="{'active': filter.id === activeFilterId}" v-on:click="onFilterClick(filter)">{{ filter.name }} <span v-if="filter.count > 0" class="meerkat__filter-count-badge">{{ filter.countDisplay }}</span>
        </button>

    </div>

    <div class="data-list-header" v-if="state.isOpen">
        <div class="w-full">
                <input type="text" :id="searchId" @keyup.esc="resetSearch" v-model="searchFilter" @input="searchEvent" :placeholder="trans('filters.search_placeholder')" class="input-text flex-1 bg-white text-sm">
            </div>
        </div>
    </div>
</div>
