<div class="w-full flex mt-3">
    <div class="flex-1" v-if="!displayInline"></div>
    <ul v-if="hasMultiplePages" class="pagination" :class="{'pagination-inline': displayInline}">
        <li v-if="displayArrows && hasPrevious"><a v-on:click="movePrevious"><span class="text-xs">&larr;</span></a>
        </li>
        <li v-if="displayRange" v-for="(range, i) in visibleRange" :key="i" :class="{'current': range.isSelected}">
            <span v-if="range.isSeparator">...</span>
            <a v-else v-on:click="moveToPage(range.pageNumber)">{{ range.pageNumber }}</a>
        </li>
        <li v-if="displayArrows && hasNext"><a v-on:click="moveNext"><span class="text-xs">→</span></a>
        </li>
    </ul>
    <div class="flex flex-1">
        <div class="flex-1"></div>
        <div v-if="displayPerPage && shouldDisplayPerPageSelection" class="select-input-container ml-3">
            <select name="perPage" class="select-input" v-model="instancePerPage" v-on:input="updatePerPage">
                <option value="" disabled="disabled">{{ trans('display.per_page') }}</option>
                <option v-for="option in perPageOptions" v-bind:value="option">{{ option }}</option>
            </select>
            <div class="select-input-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
            </div>
        </div>
    </div>
</div>
