<div class="comment-display__actions" v-if="permissions !== null">

    <meerkat-stateful-confirm-dialog
            name="meerkatActionConfirm" v-if="currentAction !== null && currentAction.display === true"
            :action-state="currentAction" v-on:cancel="checkForDismiss"></meerkat-stateful-confirm-dialog>

    <ul class="comment-display__actions-list">
        <li class="mr-2" v-if="comment.published === false && permissions.canApproveComments === true">
            <a v-on:click="$emit('action-approve', comment); performAction('approve', comment)">
                <span class="action__icon">
                    <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1"
                                                                        fill="none" fill-rule="evenodd"> <g
                            id="icon-shape"><polygon id="Path-126" points="0 11 2 9 7 14 18 3 20 5 7 18"></polygon></g></g></svg>
                </span>
                {{ trans('actions.approve') }}
            </a>
        </li>

        <li class="mr-2" v-if="comment.published === true && permissions.canUnApproveComments === true">
            <a v-on:click="$emit('action-unapprove', comment); performAction('unapprove', comment)">
                <span class="action__icon">
                    <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="icon-shape">
								<polygon id="Combined-Shape"
                                         points="10 8.58578644 2.92893219 1.51471863 1.51471863 2.92893219 8.58578644 10 1.51471863 17.0710678 2.92893219 18.4852814 10 11.4142136 17.0710678 18.4852814 18.4852814 17.0710678 11.4142136 10 18.4852814 2.92893219 17.0710678 1.51471863 10 8.58578644"></polygon>
							</g>
						</g>
						</svg>
                </span>
                {{ trans('actions.unapprove') }}
            </a>
        </li>

        <li class="mr-2" v-if="permissions.canReplyToComments === true">
            <a v-on:click="$emit('action-reply', comment); comment.startReplying()">
                <span class="action__icon">
                    <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="icon-shape">
								<path d="M15,17 L15,14.009763 C15,11.795232 13.2081782,10 10.9976305,10 L8,10 L8,15 L2,9 L8,3 L8,8 L10.9946916,8 C14.3113318,8 17,10.6930342 17,14 L17,17 L15,17 L15,17 Z"
                                      id="Combined-Shape"></path>
							</g>
						</g>
						</svg>
                </span>
                {{ trans('actions.reply') }}
            </a>
        </li>

        <li class="mr-2" v-if="permissions.canEditComments === true">
            <a v-on:click="$emit('action-edit', comment); comment.startEditing()">
                <span class="action__icon">
                    <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="icon-shape">
								<path d="M12.2928932,3.70710678 L0,16 L0,20 L4,20 L16.2928932,7.70710678 L12.2928932,3.70710678 Z M13.7071068,2.29289322 L16,0 L20,4 L17.7071068,6.29289322 L13.7071068,2.29289322 Z"
                                      id="Combined-Shape"></path>
							</g>
						</g>
						</svg>
                </span>
                {{ trans('actions.edit') }}
            </a>
        </li>

        <li class="mr-2" v-if="comment.hasBeenCheckedForSpam === false && (permissions.canReportAsSpam || permissions.canReportAsHam)">
            <dropdown-list>
                <template #trigger>
                    <a>
                        <span class="action__icon">
                            <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="icon-shape">
                                        <path d="M19,10.9999798 C19,13.2091299 17.4323196,15.8709335 15.5074835,16.940287 L10,20 L4.49251651,16.940287 C2.5636529,15.8686961 1,13.2055487 1,10.9999798 L1,3 C4.3761817,3 7.49184447,1.88458585 9.99858329,0.00216256114 C12.5058076,1.88587336 15.6225461,3.00212826 19,3.00212826 L19,10.9999798 Z M10,12.083735 L7.07502008,14.1191153 L8.1069132,10.708327 L5.26728307,8.55547283 L8.83000801,8.48286996 L10,5.11695271 L11.169992,8.48286996 L14.7327169,8.55547283 L11.8930868,10.708327 L12.9249799,14.1191153 L10,12.083735 Z"
                                              id="Combined-Shape"></path>
                                    </g>
                                </g>
                                </svg>
                        </span>

                        {{ trans('actions.update_spam') }}

                        <button class="rotating-dots-button" :aria-label="__('Open Dropdown')" style="display: inline">
                            <svg class="rotating-dots fill-current" width="12" viewBox="0 0 24 24"><circle cx="3" cy="12" r="3"/><circle cx="12" cy="12" r="3"/><circle cx="21" cy="12" r="3"/></svg>
                        </button>
                    </a>
                </template>

                <dropdown-item v-if="permissions.canReportAsSpam" :text="trans('actions.update_as_spam')" v-on:click="$emit('action-spam', comment); performAction('mark-spam', comment)"></dropdown-item>
                <dropdown-item v-if="permissions.canReportAsHam" :text="trans('actions.update_as_ham')" v-on:click="$emit('action-ham', comment); performAction('mark-ham', comment)"></dropdown-item>
            </dropdown-list>
        </li>

        <li class="mr-2"
            v-if="permissions.canReportAsSpam === true && (comment.hasBeenCheckedForSpam === true && (comment.isSpam === null || comment.isSpam === false))">
            <a v-on:click="$emit('action-spam', comment); performAction('mark-spam', comment)">
                <span class="action__icon">
                    <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="icon-shape">
								<path d="M19,10.9999798 C19,13.2091299 17.4323196,15.8709335 15.5074835,16.940287 L10,20 L4.49251651,16.940287 C2.5636529,15.8686961 1,13.2055487 1,10.9999798 L1,3 C4.3761817,3 7.49184447,1.88458585 9.99858329,0.00216256114 C12.5058076,1.88587336 15.6225461,3.00212826 19,3.00212826 L19,10.9999798 Z M10,12.083735 L7.07502008,14.1191153 L8.1069132,10.708327 L5.26728307,8.55547283 L8.83000801,8.48286996 L10,5.11695271 L11.169992,8.48286996 L14.7327169,8.55547283 L11.8930868,10.708327 L12.9249799,14.1191153 L10,12.083735 Z"
                                      id="Combined-Shape"></path>
							</g>
						</g>
						</svg>
                </span>
                {{ trans('actions.mark_spam') }}
            </a>
        </li>

        <li class="mr-2"
            v-if="permissions.canReportAsHam === true && (comment.hasBeenCheckedForSpam === true && (comment.isSpam === null || comment.isSpam === true))">
            <a v-on:click="$emit('action-ham', comment); performAction('mark-ham', comment)">
                <span class="action__icon">
                    <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="icon-shape">
								<path d="M19,10.9999798 C19,13.2091299 17.4323196,15.8709335 15.5074835,16.940287 L10,20 L4.49251651,16.940287 C2.5636529,15.8686961 1,13.2055487 1,10.9999798 L1,3 C4.3761817,3 7.49184447,1.88458585 9.99858329,0.00216256114 C12.5058076,1.88587336 15.6225461,3.00212826 19,3.00212826 L19,10.9999798 Z M10,12.083735 L7.07502008,14.1191153 L8.1069132,10.708327 L5.26728307,8.55547283 L8.83000801,8.48286996 L10,5.11695271 L11.169992,8.48286996 L14.7327169,8.55547283 L11.8930868,10.708327 L12.9249799,14.1191153 L10,12.083735 Z"
                                      id="Combined-Shape"></path>
							</g>
						</g>
						</svg>
                </span>
                {{ trans('actions.mark_ham') }}
            </a>
        </li>

        <li class="mr-2" v-if="permissions.canRemoveComments === true">
            <a v-on:click="$emit('action-remove', comment); performAction('delete', comment)">
                <span class="action__icon">
                    <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="icon-shape">
								<path d="M2,2 L18,2 L18,4 L2,4 L2,2 Z M8,0 L12,0 L14,2 L6,2 L8,0 Z M3,6 L17,6 L16,20 L4,20 L3,6 Z M8,8 L9,8 L9,18 L8,18 L8,8 Z M11,8 L12,8 L12,18 L11,18 L11,8 Z"
                                      id="Combined-Shape"></path>

							</g>
						</g>
						</svg>
                </span>
                {{ trans('actions.delete') }}
            </a>
        </li>

      <li class="mr-2" v-if="permissions.canViewComments === true">
        <a :href="'/cp/meerkat/redirect/' + comment.contextId + '/' + comment.id" target="_blank">
                <span class="action__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.26 13a2 2 0 0 1 .01-2.01A3 3 0 0 0 9 5H5a3 3 0 0 0 0 6h.08a6.06 6.06 0 0 0 0 2H5A5 5 0 0 1 5 3h4a5 5 0 0 1 .26 10zm1.48-6a2 2 0 0 1-.01 2.01A3 3 0 0 0 11 15h4a3 3 0 0 0 0-6h-.08a6.06 6.06 0 0 0 0-2H15a5 5 0 0 1 0 10h-4a5 5 0 0 1-.26-10z"></path></svg>
                </span>
          {{ trans('actions.view_entry') }}
        </a>
      </li>

    </ul>
</div>

