<div class="author-display">
    <div class="flex items-center">
        <div class="w-10 h-10" style="margin-right:0.5em;" :title="author.name"
             v-on:click="$emit('author-clicked', author)">
            <component :is="avatarDriver" v-bind="getAuthor()"></component>
        </div>
        <div class="text-sm">
            <p class="text-gray-900 leading-none" v-on:click="$emit('author-clicked', author)" :title="author.name">{{
                author.name | meerkatTruncate(25) }}</p>
            <p class="text-gray-600" v-if="comment.hasAuthorEmail && author.hasEmailAddress()" :title="author.email"><a
                    :href="'mailto:' + author.email">{{ author.email | meerkatTruncate(30) }}</a></p>
            <p class="author-display__web-address" v-if="author.hasWebAddress()" :title="author.webAddress"><a
                    :href="author.webAddress" target="_blank">{{ author.webAddress | meerkatTruncate(30) }}</a></p>

        </div>
    </div>
    <div class="author-display__details flex">
        <p>{{ comment.localDateFormatted }}</p>
    </div>
</div>
