<div class="w-full publish-fields">
  <div class="p-4 w-full bg-grey-20 meerkat__config-section">
    <h3 class="text-lg leading-6 font-medium text-gray-900">{{ trans('config.ip_filter_title') }}</h3>
    <p class="mt-1 text-sm leading-5 text-gray-500">{{ trans('config.ip_filter_desc') }}</p>
  </div>


  <div class="form-group publish-field list-fieldtype field-w-full">
    <div class="field-inner">
      <label><span>{{ trans('config.ip_filter_blocked') }}</span></label>
      <div class="help-block -mt-1">
        <p>{{ trans('config.ip_filter_blocked_desc') }} <span
          v-if="settings.items['iplist.block'].defaults != null && settings.items['iplist.block'].defaults.length > 0">{{ trans('config.ip_filter_managed_notice') }} <a
          class="cursor" v-on:click="showDefaults = true" v-if="showDefaults === false">{{ trans('config.ip_filter_view_defaults') }}</a></span></p>
      </div>
    </div>
    <list-fieldtype v-model="settings.items['iplist.block'].value"
                    :read-only="settings.items['iplist.block'].behavior === 0"></list-fieldtype>
  </div>

  <pane name="meerkat-ip-filter" v-if="showDefaults" @closed="showDefaults = false">
    <div class="flex w-full pt-6">
      <div class="flex w-full justify-between items-center">
        <div class="flex-shrink flex items-center">
          <h3 class="pl-2">{{ trans('config.ip_filter_default_title') }}</h3>

        </div>
        <div class="flex flex-shrink-0 items-center mr-2">
          <a class="block h-6 w-6" v-on:click="showDefaults = false">
            <svg style="width:12px;" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="#000000" fill-rule="evenodd">
                <g id="icon-shape">
                  <polygon id="Combined-Shape" points="10 8.58578644 2.92893219 1.51471863 1.51471863 2.92893219 8.58578644 10 1.51471863 17.0710678 2.92893219 18.4852814 10 11.4142136 17.0710678 18.4852814 18.4852814 17.0710678 11.4142136 10 18.4852814 2.92893219 17.0710678 1.51471863 10 8.58578644"></polygon>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="w-full">
      <p class="p-2">{{ trans('config.ip_filter_default_desc') }}</p>

      <ul class="pl-2 pt-3 pb-3 border-t border-b" v-if="$parent.settings != null" style="max-height: calc(60vh);overflow-y:auto">
        <li v-for="(address, i) in $parent.settings.items['iplist.block'].defaults">{{ address }}</li>
      </ul>
    </div>
  </pane>

</div>
